#terminal {
    background-color: transparent;
    color: #eee;
    font-family: monospace;
    padding: 10px;
    width: 650px;
    height: 300px;
    border-radius: 5px;
    overflow: auto;
    box-sizing: border-box;
    /* opacity: 0.85; */
}

#output {
    white-space: pre-wrap;
    margin: 0;
}

